#laimPageContact {
  font-size: 24px;
}

#laimPageHomeLink {
  text-align: center;
  margin-block-start: 16px;
}

@media screen and (min-width: 600px) {
  #laimPageContact {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 32px;
  }
}
