#laim-page-contact {
  font-size: 24px;
  }

#laim-page-home-link{
    text-align: center;
    margin-block-start: 16px;
}

@media screen and (min-width: 600px) {
  #laim-page-contact {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 32px;
  }

}